.pagination {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.pagination__item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  @include glass-effect;
  cursor: pointer;
  transition: $transition;

  &__light {
    &:hover {
      background-color: $color-dark;
    }
  }

  &__dark {
    &:hover {
      background-color: $color-light;
    }
  }
}

.active__light {
  background-color: $color-dark;
}

.active__dark {
  background-color: $color-light;
}

.none {
  display: none;
}
