.details__page {
  min-width: 350px;
  position: relative;

  @media (max-width: $brackpoint-md) {
    min-width: 0px;
  }
}

.info {
  @include glass-effect;
  padding: 20px;
  width: 350px;
  position: fixed;
  bottom: 0px;
  right: 0px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  transition: $transition;

  &__text {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  @media (max-width: $brackpoint-md) {
    width: 100%;
    flex-direction: row;
    height: 250px !important;
    align-items: center;
    justify-content: center;
  }
}

.img {
  border-radius: $radius-m;
  @media (max-width: $brackpoint-md) {
    width: 150px;
    height: 150px;
  }
}

.title {
  text-align: center;
}

.btn {
  margin-top: 30px;

  @media (max-width: $brackpoint-md) {
    margin-top: 15px;
  }
}

.error {
  font-size: $font-m;
}
