.color__switch {
  display: flex;
  align-items: center;
  justify-content: center;
  @include glass-effect;
  width: 35px;
  height: 35px;
  padding: 5px;
  border-radius: $radius-xl;
  cursor: pointer;
}
