@use './variables.scss' as *;

@mixin glass-effect {
  background: rgba(236, 236, 236, 0.08);
  border-radius: $radius-lg;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(8.1px);
  -webkit-backdrop-filter: blur(8.1px);
}
