@import url('./normalize.scss');
@import url('./fonts.scss');

* {
  box-sizing: border-box;
}

body {
  font-family: $font-stack;
  background: url('/img/bg.svg') no-repeat center/cover;
  letter-spacing: 1px;
  min-height: 100svh;
}

.active {
  pointer-events: none;
  opacity: 0.3;
}
