@import url('./normalize.scss');

body {
  font-family: $font-stack;
  background: url('../assets/bg.svg');
  background-repeat: no-repeat;
  background-size: cover;
}

.app {
  padding: 20px;
  margin: 20px auto;
  max-width: 1200px;
  display: flex;
  gap: 20px;
  //@include glass-effect;
}
