* {
  box-sizing: border-box;
}

body {
  font-family: $font-stack;
  letter-spacing: 1px;
}

.active {
  pointer-events: none;
  opacity: 0.5;
}

.light {
  background: url('/img/bg-light.svg') no-repeat center/cover;
  min-height: 100svh;
  color: $color-light !important;
}

.dark {
  background: url('/img/bg-dark.svg') no-repeat center/cover;
  min-height: 100svh;
  color: $color-dark !important;
}
