.button {
  min-width: 200px;
  cursor: pointer;
  border: none;
  border-radius: $radius-m;
  padding: 10px 0;

  &__dark {
    background-color: $color-dark;
    color: $color-light;
  }

  &__light {
    background-color: $color-light;
    color: $color-dark;
  }
}
