.header {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  align-items: center;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
  gap: 30px;
}

.nav {
  display: flex;
  justify-content: center;
  flex-grow: 1;
}

.link {
  @include glass-effect;
  text-decoration: none;
  padding: 10px 20px;
  font-weight: bold;
  cursor: pointer;

  &__light {
    color: $color-light;
  }
  &__dark {
    color: $color-dark;
  }
}

.controller {
  display: flex;
  gap: 10px;

  &__btn {
    min-width: 120px;
  }
}

.selector {
  font-size: $font-s;
  border: none;
  color: $color-dark;
  background-color: $color-light;
  border-radius: $radius-m;
  padding: 5px 0px;

  &:focus {
    outline: none;
  }
}
