.card {
  @include glass-effect;
  width: 250px;
  padding: 25px;
  display: flex;
  align-items: center;
  flex-direction: column;

  &__img {
    width: 200px;
    border-radius: $radius-m;
    margin-bottom: 20px;
  }

  &__info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    gap: 5px;
  }
}
