.error__page {
  height: calc(100svh - 78.4px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
  color: $color-light;
}

.container {
  @include glass-effect;
  padding: 20px;
  display: flex;
  align-items: center;
}

.img {
  width: 200px;

  @media (max-width: $brackpoint-md) {
    width: 100px;
  }
}

.title {
  font-size: $font-xxl;

  @media (max-width: $brackpoint-md) {
    font-size: $font-xl;
  }
}

.subtitle {
  @include glass-effect;
  padding: 20px 50px;
  font-size: $font-l;
  @media (max-width: $brackpoint-md) {
    font-size: $font-m;
    padding: 20px;
  }
}
